<!DOCTYPE html>
<html lang="en" ng-app="syncthing">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.png">

  <title>syncthing</title>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-bottom: 70px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
    }

    .text-monospace {
      font-family: monospace;
    }

    .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
      border-top: none;
    }

    thead tr th {
      text-align: center;
    }

    .logo {
      margin: 0;
      padding: 0;
      top: -5px;
      position: relative;
    }

    .progress {
      height: 21px;
      margin-bottom: inherit;
    }

    .progress .progress-bar {
      line-height: 21px;
      font-size: 12px;
    }

    .collapsed-visible {
      display: none;
    }
    .collapsed .collapsed-visible {
      display: inline;
    }

    .list-no-bullet {
      list-style-type: none
    }

    .li-column {
      display: inline-block;
      min-width: 7em;
      margin-right: 1em;
      background-color: rgb(236, 240, 241);
      border-radius: 3px;
      padding: 1px 4px;
      margin: 2px 2px;
    }
    .li-column span.data {
      margin-left: 0.5em;
      min-width: 10em;
      text-align: right;
      display: inline-block;
    }
  </style>
</head>

<body ng-controller="SyncthingCtrl">

  <!-- Top bar -->

  <div class="navbar navbar-top navbar-default">
    <div class="container">
      <a class="navbar-brand"><img class="logo" src="st-logo-128.png" width="32" height="32"> Syncthing</a>
    </div>
  </div>

  <div class="container">

    <!-- First row, only shown if necessary; Restart warning -->

    <div ng-if="!configInSync" class="row">
      <div class="col-md-12">
        <div class="panel panel-warning">
          <div class="panel-heading"><h3 class="panel-title">Restart Needed</h3></div>
          <div class="panel-body">
            <p>The configuration has been saved but not activated. Syncthing must restart to activate the new configuration.</p>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-sm btn-default pull-right" ng-click="restart()"><span class="glyphicon glyphicon-off"></span> Restart Now</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- First regular row -->

    <div class="row">

    <!-- Repository list (top left) -->

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Repositories</h3></div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li ng-repeat="repo in repos">
                <span class="text-monospace">{{repo.Directory}}</span> ({{repo.ID}})
                <a href="" ng-click="editNode(nodeCfg)" class="text-info"><span class="glyphicon glyphicon-pencil"></span></a>
                <ul class="list-no-bullet">
                  <li>
                    <div class="progress" style="display: inline-block; width: 100%">
                      <div class="progress-bar progress-bar-success" ng-style="{width: syncPercentage() + '%'}">
                        {{syncPercentage()}}%
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-globe"></span>
                      <span class="data">{{model.globalFiles | alwaysNumber}} files, {{model.globalBytes | binary}}B</span>
                    </div>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-home"></span>
                      <span class="data">{{model.localFiles | alwaysNumber}} files, {{model.localBytes | binary}}B</span>
                    </div>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-cloud-download"></span>
                      <span class="data">{{model.needFiles | alwaysNumber}} files, {{model.needBytes | binary}}B</span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <button type="button" class="pull-right btn btn-sm btn-default" ng-click="addRepo()"><span class="glyphicon glyphicon-plus"></span> Add Repository</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <!-- Node list (top right) -->

      <div class="col-md-6">
        <div ng-if="errorList().length > 0" class="alert alert-warning">
          <p ng-repeat="err in errorList()"><small>{{err.Time | date:"hh:mm:ss.sss"}}:</small> {{friendlyNodes(err.Error)}}</p>
          <button type="button" class="pull-right btn btn-warning" ng-click="clearErrors()">OK</button>
          <div class="clearfix"></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Nodes</h3></div>
          <div class="panel-body">

            <h5>This Node</h5>
            <ul class="list-unstyled" ng-repeat="nodeCfg in thisNode()">
              <li>
                <span class="text-monospace">{{nodeName(nodeCfg)}}</span>&emsp;
                <a href="" ng-click="editNode(nodeCfg)"><span class="glyphicon glyphicon-pencil"></span></a>
                <ul class="list-no-bullet">
                  <li>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-link"></span>
                      <span class="data">(this node)</span>
                    </div>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-tag"></span>
                      <span class="data">{{version}}</span>
                    </div>
                  </li>
                  <li>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-cloud-download"></span>
                      <span class="data">{{inbps | metric}}bps</span>
                    </div>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-cloud-upload"></span>
                      <span class="data">{{outbps | metric}}bps</span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>

            <h5>Peer Nodes</h5>
            <ul class="list-unstyled" ng-repeat="nodeCfg in otherNodes()">
              <li>
                <span class="text-monospace">{{nodeName(nodeCfg)}}</span>&emsp;
                <a href="" ng-click="editNode(nodeCfg)"><span class="glyphicon glyphicon-pencil"></span></a>
                <ul class="list-no-bullet">
                  <li>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-link"></span>
                      <span class="data">{{nodeAddr(nodeCfg)}}</span>
                    </div>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-tag"></span>
                      <span class="data">{{nodeVer(nodeCfg)}}</span>
                    </div>
                  </li>
                  <li>
                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-cloud-download"></span>
                      <span class="data">{{connections[nodeCfg.NodeID].inbps | metric}}bps</span>
                    </div>

                    <div class="li-column">
                      <span class="text-muted glyphicon glyphicon-cloud-upload"></span>
                      <span class="data">{{connections[nodeCfg.NodeID].outbps | metric}}bps</span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <button type="button" class="pull-right btn btn-sm btn-default" ng-click="addNode()"><span class="glyphicon glyphicon-plus"></span> Add Node</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second regular row -->

    <div class="row">

      <!-- System information (bottom left) -->

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title"><a href="" data-toggle="collapse" data-target="#system" class="collapsed">
            System <span class="collapsed-visible"><span class="caret"></span></span>
          </a></h3></div>
          <div id="system" class="panel-collapse collapse">
            <div class="panel-body">
              <p>{{system.sys | binary}}B RAM allocated, {{system.alloc | binary}}B in use</p>
              <p>{{system.cpuPercent | alwaysNumber | natural:1}}% CPU, {{system.goroutines | alwaysNumber}} goroutines</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Settings (bottom right) -->

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title"><a href="" data-toggle="collapse" data-target="#settingsTable" class="collapsed">
            Settings <span class="collapsed-visible"><span class="caret"></span></span>
          </a></h3></div>
          <div id="settingsTable" class="panel-collapse collapse">
            <div class="panel-body">
              <form role="form">
                <div class="form-group" ng-repeat="setting in settings">
                  <div ng-if="setting.type == 'text' || setting.type == 'number'">
                    <label for="{{setting.id}}">{{setting.descr}}</label>
                    <input id="{{setting.id}}" class="form-control" type="{{setting.type}}" ng-model="config.Options[setting.id]"></input>
                  </div>
                  <div class="checkbox" ng-if="setting.type == 'bool'">
                    <label>
                      {{setting.descr}} <input id="{{setting.id}}" type="checkbox" ng-model="config.Options[setting.id]"></input>
                    </label>
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-sm btn-default pull-right" ng-click="saveSettings()"><span class="glyphicon glyphicon-save"></span> Save</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- /container -->

  <!-- Bottom bar -->

  <div class="navbar navbar-default navbar-fixed-bottom hidden-xs">
    <div class="container">
      <p class="navbar-text">{{version}}</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-link" href="http://discourse.syncthing.net/">Support / Forum</a></li>
        <li><a class="navbar-link" href="https://github.com/calmh/syncthing/releases">Latest Release</a></li>
        <li><a class="navbar-link" href="https://github.com/calmh/syncthing/wiki">Documentation</a></li>
        <li><a class="navbar-link" href="https://github.com/calmh/syncthing/issues">Bugs</a></li>
        <li><a class="navbar-link" href="https://github.com/calmh/syncthing">Source Code</a></li>
      </ul>
    </div>
  </div>

  <!-- Network error modal -->

  <div id="networkError" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header alert alert-danger">
          <h4 class="modal-title">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Connection Error
          </h4>
        </div>
        <div class="modal-body">
          <p>
            Syncthing seems to be down, or there is a problem with your Internet connection.
            Retrying&hellip;
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Node editor modal -->

  <div id="editNode" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 ng-show="!editingExisting" class="modal-title">Add Node</h4>
          <h4 ng-show="editingExisting" class="modal-title">Edit Node</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="nodeID">Node ID</label>
              <input ng-disabled="editingExisting" id="nodeID" class="form-control" type="text" ng-model="currentNode.NodeID"></input>
              <p class="help-block">The node ID can be found in the logs or in the "Add Node" dialog on the other node.</p>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input placeholder="Home Server" id="name" class="form-control" type="text" ng-model="currentNode.Name"></input>
              <p class="help-block">Shown instead of Node ID in the cluster status.</p>
            </div>
            <div class="form-group">
              <label for="addresses">Addresses</label>
              <input placeholder="dynamic" ng-disabled="currentNode.NodeID == myID" id="addresses" class="form-control" type="text" ng-model="currentNode.AddressesStr"></input>
              <p class="help-block">Enter comma separated <span class="text-monospace">ip:port</span> addresses or <span class="text-monospace">dynamic</span> to perform automatic discovery of the address.</p>
            </div>
          </form>
          <div ng-show="!editingExisting">
            When adding a new node, keep in mind that <em>this node</em> must be added on the other side too. The Node ID of this node is:
            <pre>{{myID}}</pre>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="saveNode()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-if="editingExisting" type="button" class="btn btn-danger pull-left" ng-click="deleteNode()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Repo editor modal -->

  <div id="editRepo" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 ng-show="!editingExisting" class="modal-title">Add Repository</h4>
          <h4 ng-show="editingExisting" class="modal-title">Edit Repository</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="repoPath">Repository Path</label>
              <input placeholder="~/Documents" ng-disabled="editingExisting" id="repoPath" class="form-control" type="text" ng-model="currentRepo.Path"></input>
              <p class="help-block">Path to the repository on the local computer. Will be created if it does not exist.</p>
            </div>
            <div class="form-group">
              <label for="repoID">Repository ID</label>
              <input placeholder="documents" id="repoID" class="form-control" type="text" ng-model="currentRepo.ID"></input>
              <p class="help-block">Short, unique identifier for the repository. Must be the same on all cluster nodes.</p>
            </div>
            <div class="form-group">
              <label for="nodes">Nodes</label>
            </div>
          </form>
          <div ng-show="!editingExisting">
            When adding a new repository, keep in mind that the Repository ID is used to repositories together between nodes. They are case sensitive and must match exactly between all nodes.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="saveNode()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-if="editingExisting" type="button" class="btn btn-danger pull-left" ng-click="deleteNode()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <script src="angular.min.js"></script>
  <script src="jquery-2.0.3.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
